<section class="section_one" id="home">
  <h1>THEE CURIOUS TRAVELLER</h1>
  <p>SOUTH AFRICAN TOUR & EXPERIENCE GUIDE</p>
  <div class="section_one_navigation hidden-xs">
    <a href="#home"> HOME</a>
    <a href="#activities"> ACTIVITIES</a>
    <a href="#costs"> COSTS</a>
    <a href="#contact"> CONTACT</a>
  </div>
  <div class="section_one_tour-info">
    <div class="section_one_tour-info_first">
      <p>CAPE TOWN</p>
      <p>£1,200</p>
    </div>
    <div class="section_one_tour-info_second">
      <p>TRAVEL GUIDE • 6 NIGHTS  • AIRPORT PICKUP • WINE TASTING</p>
    </div>
  </div>
</section>
<section class="section_two">
  <div class="card">
    <img src="https://images.pexels.com/photos/1097425/pexels-photo-1097425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="wine">
    <h3>WINE TASTING</h3>
    <h4>Tour Wine Estates</h4>
    <p>Enjoy a tour of Cape Towns most beautiful Vineyards & wine taste/  dine.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
  <div class="card">
    <%= image_tag 'boat.png' %>
    <h3>BOAT TRAVEL</h3>
    <h4>Cape Town Bay</h4>
    <p>Relax on a luxury boat as you sail past breath-taking views.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
  <div class="card">
    <%= image_tag 'robben-island.png' %>
    <h3>ROBBEN ISLAND</h3>
    <h4>Historical Tour</h4>
    <p>Guided tour of the island Nelson Mandela was imprisoned for 27 years.</p>
    <a href="#contact">
      <p>CONTACT</p>
      <p>></p>
    </a>
  </div>
</section>
<section class="section_three" id="activities">
  <h3 class="section_three_header">LIST OF ACTIVITIES</h3>
  <div class="section_three_content">
    <div>
      <div class="event-card">
        <div class="event-card_date">
          <p>1st</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>ARRIVAL DAY</h4>
          <h5>MEET THE OTHER TRAVELLERS AND THE TCT TEAM.</h5>
          <ul>
            <li>Airport pick ups/Hotel arrival</li>
            <li>Settle in & relax</li>
            <li>Welcome drinks at one of Cape Towns bars</li>
            <li>Meet the group & TCT team</li>
          </ul>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>2nd</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>EXPLORER DAY</h4>
          <h5>A TOUR OF CAPE TOWN</h5>
          <ul>
            <li>Walking tour of the city/ Bo-Kaap</li>
            <li>Hop on/Hop off bus</li>
            <li>Table Mountain</li>
            <li>Camps Bay beach & V& Waterfront</li>
          </ul>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>3rd</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>ADVENTURE DAY</h4>
          <h5>SCENIC ROAD TRIP DOWN THE COAST</h5>
          <ul>
            <li>See the African Penguins at Boulders beach</li>
            <li>Explore Cape Point Nature Reserve</li>
            <li>See where the Indian ocean meets Atlantic ocean</li>
            <li>Cape point & Cape of good hope hike tour</li>
          </ul>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>4th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>CULTURE DAY</h4>
          <h5>MINGLE WITH LOCALS & LEARN ABOUT THEIR HISTORY</h5>
          <ul>
            <li>Guided tour of Robben island</li>
            <li>Followed by a Township tour</li>
            <li>Dinner at a famous homely African restaurant in Cape Town</li>
            <li>Missing one more here</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="event-picture">
        <%= image_tag 'baypic.png' %>
        <!-- <h4>ASK US ABOUT EXTRA ACTIVITES THAT CAN BE ADDED TO YOUR <span>SCHEDULE</span></h4> -->
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>5th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>WINE DAY</h4>
          <h5>WINE TASTING IN RECOGNIZED VINEYARDS</h5>
          <ul>
            <li>Franschoek wine estates tour</li>
            <li>Hop on/off wine tram</li>
            <li>Wine taste (in what vineyard?)</li>
            <li>Missing another one here</li>
          </ul>
        </div>
      </div>
      <div class="event-card">
        <div class="event-card_date">
          <p>6th</p>
          <p>DAY</p>
        </div>
        <div class="event-card_details">
          <h4>PEACEFUL DAY</h4>
          <h5>RELAXING ACTIVITES WITH A BIT OF SOUTH AFRICA</h5>
          <ul>
            <li>Relax at Camps bay beach or Clifton</li>
            <li>Souvenir shop at markets</li>
            <li>Sunset Boat cruise</li>
            <li>Missing one here</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section_four" id="costs">
  <div class="section_four_left">
    <h4>COST OF THE TOUR</h4>
    <div class="section_four_left_orange-header">
      <h5>TOTAL COSTS OF THE TOUR<h5>
      <h5>£1200 (VAT inc.)</h5>
    </div>
    <p>Below is the list of activities that the entire tour include, feel free to ask about extras</p>
    <div class="section_four_left_list">
      <div>
        <h5>What's included?</h5>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Airport pickup</p>
        </div>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Accomodation</p>
        </div>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Breakfast</p>
        </div>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Group Photgrapher</p>
        </div>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Activites</p>
        </div>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Transport</p>
        </div>
      </div>
      <div>
        <h5>What's <span>NOT</span> included?</h5>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Flights</p>
        </div>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Visa cost/procedures</p>
        </div>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Insurance</p>
        </div>
        <div class="section_four_left_list_bullet">
          <span></span>
          <p>Meals Unless Stated</p>
        </div>
      </div>
    </div>
    <p>**Please note although THEE CURIOUS TRAVELLER has organised and will be managing the entire trip. All individual tours will be conducted by a professional experienced local tour guide</p>
    <p>To Book: Pay in full or secure a spot with £300 deposit. Monthly down payments accepted.</p>
    <p>Accepted payment options: Paypal via invoice</p>
  </div>
  <div class="section_four_right">
    <div class="section_four_right_left-pictures hidden-xs hidden-sm">
      <%= image_tag 'https://images.pexels.com/photos/723240/pexels-photo-723240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
      <%= image_tag 'https://images.pexels.com/photos/1543411/pexels-photo-1543411.jpeg?auto=compress&cs=tinysrgb&h=650&w=940' %>
      <%= image_tag 'https://images.pexels.com/photos/691637/pexels-photo-691637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
    </div>
    <div class="section_four_right_right-picture">
      <%= image_tag 'https://images.pexels.com/photos/1121316/pexels-photo-1121316.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
    </div>
  </div>
</section>
<section class="contact" id="contact">
  <div class="contact_one">
    <form action="https://formspree.io/info@theecurioustraveller.com" method="post">
      <h1>CONTACT FORM</h1>
      <input placeholder="Name" type="text"  value="" required>
      <input placeholder="Email address" name="email" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
      <span class="validation-text">Please enter a valid email address.</span>
      <div class="flex">
        <textarea placeholder="Message" name="message" rows="1" required></textarea>
      </div>
      <input class="contact_form_button" type="submit" value="Send">
    </form>
  </div>
  <div class="contact_two">
    <div class="contact_two_card">
      <%= image_tag 'https://images.pexels.com/photos/34098/south-africa-hluhluwe-giraffes-pattern.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
      <h4>WILD</h4>
    </div>
    <div class="contact_two_card">
      <%= image_tag 'https://images.pexels.com/photos/38280/monkey-mandril-africa-baboon-38280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
      <h4>NATURE</h4>
    </div>
  </div>
  <div class="contact_three">
    <div>
      <h4>ACCOMODATION</h4>
      <div class="contact_three_text">
        <p>You will be staying in a boutique style hotel Located in beautiful Sea Point suburb of Cape Town with the ocean view and palm trees right by your door step. </p>
        <p><i class="fas fa-thumbtack"></i>12mins walk to Clifton & Camps bay beach</p>
        <p><i class="fas fa-thumbtack"></i>1min walk to Atlantic seaboard</p>
        <p><i class="fas fa-thumbtack"></i>20 mins drive to airport</p>
        <p><i class="fas fa-thumbtack"></i>10mins drive to the City</p>
        <p><i class="fas fa-thumbtack"></i>5min drive to V&A Waterfront</p>
        <p  class="contact_three_text_consider">
          Your hotel room will be based on two people sharing, if you’re travelling with a friend please let us know so we can allocate you to the same room. All other room allocations will be at random unless specific preferences are stated.
        </p>
        <p  class="contact_three_text_consider">
          If you require a private room we can arrange this for you, please note an additional charge will apply for a private room.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="consider">
  <div class="consider_box">
    <h5>PLEASE CONSIDER</h5>
    <p><b>Flexible Itinerary</b></p>
    <p>
      Please note we offer a flexible itinerary should you want to add any extra activities to your time in Cape Town we can assist you with this at no extra cost. However All additional costs of extra activities will be covered by you.
    </p>
    <p><b>Food allergies & Medical conditions</b></p>
    <p>
      Food allergies or special foods should be requested 1 month prior to the booking in order to check availability.Any medical condition that requires attention should be communicated prior to any bookings. Please let us know how can we help.
    </p>
  </div>
</section>
<!-- <section class="sponsors hidden-xs hidden-sm">

</section> -->
<footer class="hoxton-footer">
  <div class="hoxton-footer_first">
    THE CURIOUS TRAVELLER <span>| 2019 <i class="far fa-copyright"></i> ALL RIGHTS RESERVED</span>
  </div>
  <div class="hoxton-footer_second hidden-xs hidden-sm">
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
  </div>
  <div class="hoxton-footer_third">
    contact@thecurioustraveller.com | +44 07447 486 514
  </div>
</footer>
<div class="hoxton">
    <p>DEVELOPED BY | <a href="https://www.hoxton-digital.com">HOXTON DIGITAL</a></p>
</div>
