<input type="checkbox" id="toggle" class="hidden-md hidden-lg hidden-xl">
<aside class="zsliding-panel hidden-md hidden-lg hidden-xl">
  <div class="zsearch-container text-center">
    <div class="zbox">
        <p><a href="#zactivities">Activities</a></p>
        <p><a href="#zcosts">Costs</a></p>
        <p><a href="#zbook">Book</a></p>
        <p><a href="#zcontact">Contact</a></p>
    </div>
    <label class="zlabel" for="toggle">MENU</label>
  </div>
</aside>

<div class="home">
  <a href="/" class="south-africa-button">SOUTH AFRICA TOUR</a>
  <section class="zsection_one" id="home">
    <h1>THEE CURIOUS TRAVELLER TOURS</h1>
      <p>GROUP TOURS IN AFRICA</p>
    <div class="zsection_one_navigation hidden-xs">
      <a href="#zhome"> HOME</a>
      <a href="#zactivities"> ACTIVITIES</a>
      <a href="#zcosts"> COSTS</a>
      <a href="#zcontact"> CONTACT</a>
    </div>
    <div class="zsection_one_tour-info">
      <div class="zsection_one_tour-info_first">
        <p>ZANZIBAR</p>
        <p>£1599<span>(Deposit£200)</span></p>
      </div>
      <div class="zsection_one_tour-info_second">
        <p>7 days 6 Nights – Ocean Safari – Private Tour guide</p>
      </div>
    </div>
  </section>
  <section class="zsection_two">
    <div class="zcard">
      <img src="https://images.pexels.com/photos/1000445/pexels-photo-1000445.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="wine">
      <h3>ADVENTURES</h3>
      <h4>Zanzibar Landscapes</h4>
      <p>A unique african archipelago and idyllic geography of white sand beaches.</p>
      <a href="#zcontact">
        <p>CONTACT</p>
        <p>></p>
      </a>
    </div>
    <div class="zcard">
      <%= image_tag 'https://images.pexels.com/photos/1544376/pexels-photo-1544376.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
      <h3>HISTORY</h3>
      <h4>Learn about Stone Town</h4>
      <p>Tanzania's famous history betweeen 1830-1863 (now a UNESCO World Heritage).</p>
      <a href="#zcontact">
        <p>CONTACT</p>
        <p>></p>
      </a>
    </div>
    <div class="zcard">
      <%= image_tag 'https://images.pexels.com/photos/1631768/pexels-photo-1631768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
      <h3>BLUE SAFARI</h3>
      <h4>See local Fauna</h4>
      <p>A variety of rare species only seen in the Zanzibar demographic.</p>
      <a href="#zcontact">
        <p>CONTACT</p>
        <p>></p>
      </a>
    </div>
  </section>
  <section class="zsection_three" id="zactivities">
    <h3 class="zsection_three_header">LIST OF ACTIVITIES</h3>
    <div class="zsection_three_content">
      <div>
        <div class="zevent-card">
          <div class="zevent-card_date">
            <p>1st</p>
            <p>DAY</p>
          </div>
          <div class="zevent-card_details">
            <h4>ARRIVAL DAY</h4>
            <h5>MEET THE OTHER TRAVELLERS AND THE TCT TEAM.</h5>
            <ul>
              <li>Airport pick-ups – (Morning/early afternoon arrivals advised)</li>
              <li>Settle in & relax</li>
              <li>Welcome party in the early evening – Enjoy welcome drink & meet your fellow travellers.</li>
              <li>Meet the group & TCT team</li>
            </ul>
          </div>
        </div>
        <div class="zevent-card">
          <div class="zevent-card_date">
            <p>2nd</p>
            <p>DAY</p>
          </div>
          <div class="zevent-card_details">
            <h4>HISTORY DAY</h4>
            <h5>LEARN ABOUT ZANZIBAR’S HISTORY</h5>
            <ul>
              <li>Guided tour of Stone Town – explore the old city</li>
              <li>Prison Island tour – take a boat to the famous prison island</li>
              <li>Snorkel on the beautiful corals surrounding the island</li>
              <li>Complete the day with a Tortoise sanctuary visit – spend time with the beautiful tortoise of Zanzibar</li>
            </ul>
          </div>
        </div>
        <div class="zevent-card">
          <div class="zevent-card_date">
            <p>3rd</p>
            <p>DAY</p>
          </div>
          <div class="zevent-card_details">
            <h4>CULTURE DAY</h4>
            <h5>EMBRACE ZANZIBAR’S CULTURE</h5>
            <ul>
              <li>Village tour – Explore local activities</li>
              <li>Spice farms tour – enjoy local spices</li>
              <li>Enjoy a Swahili cuisine lunch </li>
<!--               <li>Cape point & Cape of good hope hike tour</li> -->
            </ul>
          </div>
        </div>
        <div class="zevent-card">
          <div class="zevent-card_date">
            <p>4th</p>
            <p>DAY</p>
          </div>
          <div class="zevent-card_details">
            <h4>EXPLORER DAY</h4>
            <h5>SCENIC DAY IN JOZANI NATIONAL PARK</h5>
            <ul>
              <li>Jozani National Park Tour</li>
              <li>Explore the famous Jungle</li>
              <li>See the cheeky monkeys in their natural habitat</li>
              <li>Explore the mangrove habitat</li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="zevent-picture">
          <%= image_tag 'https://images.pexels.com/photos/1168764/pexels-photo-1168764.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
          <!-- <h4>ASK US ABOUT EXTRA ACTIVITES THAT CAN BE ADDED TO YOUR <span>SCHEDULE</span></h4> -->
        </div>
        <div class="zevent-card">
          <div class="zevent-card_date">
            <p>5th</p>
            <p>DAY</p>
          </div>
          <div class="zevent-card_details">
            <h4>ADVENTURE DAY</h4>
            <h5>ENJOY A TOUR OF THE BEAUTUFUL ISLAND</h5>
            <ul>
              <li>Mnemba tropical Island tour</li>
              <li>Snorkel with Dolphins</li>
              <li>Relax on the beach – enjoy a drink and snacks on the beach</li>
              <!-- <li>Missing another one here</li> -->
            </ul>
          </div>
        </div>
        <div class="zevent-card">
          <div class="zevent-card_date">
            <p>6th</p>
            <p>DAY</p>
          </div>
          <div class="zevent-card_details">
            <h4>BLUE SAFARI DAY</h4>
            <h5>ENJOY AN OCEAN SAFARI TOUR</h5>
            <ul>
              <li>Blue safari tour is  Zanzibar’s most popular sea adventure</li>
              <li>Enjoy the clear crystal sea views from the boat.</li>
              <li>Spot sea wildlife such.</li>
              <li>Swim in hidden scenic locations </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="zsection_four" id="zcosts">
    <div class="zsection_four_left">
      <h4>COST OF THE TOUR</h4>
      <div class="zsection_four_left_orange-header">
        <h5>TOTAL COSTS OF THE TOUR<h5>
        <h5>£854 (£50 Deposit)</h5>
      </div>
    <p>Pay in instalments option available</p>
      <div class="zsection_four_left_list">
        <div>
          <h5>What's included?</h5>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Airport Pick up</p>
          </div>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Accomodations</p>
          </div>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Activities</p>
          </div>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Some meals (not all)</p>
          </div>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Transport to activites</p>
          </div>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Private Local Tour Guide</p>
          </div>
<!--           <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Lunch / Dinner on selected days</p>
          </div>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Tour Guide</p>
          </div> -->
        </div>
        <div>
          <h5>What's <span>NOT</span> included?</h5>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Flights</p>
          </div>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Visa cost</p>
          </div>
          <div class="zsection_four_left_list_bullet">
            <span></span>
            <p>Insurance</p>
          </div>
        </div>
      </div>
      <p style="font-size: 15px;">
      </p>
      <p style="font-size: 15px;">
        <strong>TOUR DATES: </strong> 8th to 14th of September, 2019
      </p>
      <p style="font-size: 12px;">
        “**Please note although THEE CURIOUS TRAVELLER has organised and will be managing
        the entire trip. All individual tours will be conducted by a professional experienced local tour guide
      </p>
    </div>
    <div class="zsection_four_right">
      <div class="zsection_four_right_left-pictures hidden-xs hidden-sm">
        <%= image_tag 'https://images.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <%= image_tag 'https://images.pexels.com/photos/457878/pexels-photo-457878.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <%= image_tag 'https://images.pexels.com/photos/1427741/pexels-photo-1427741.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260  ' %>
      </div>
      <div class="section_four_right_right-picture">
        <%= image_tag 'https://images.pexels.com/photos/731217/pexels-photo-731217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
      </div>
    </div>
  </section>
  <section class="book" id="book">
    <div class="book_one">
      <h3>HOW TO BOOK</h3>
      <ol>
        <li><%= link_to download_pdf_path + "?name=signup" do %><p>Complete this contact form <strong>here</strong></p><% end %></li>
        <li><%= link_to download_pdf_path + "?name=TNC" do %><p> Read this *Terms & Conditions*</p><% end %></li>
        <li>Make deposit payment or pay in full</li>
      </ol>
      <!-- <p>***Accepted Monthly Payment & Payments through PayPal***</p> -->
    </div>
    <div class="book_two hidden-xs hidden-sm">
      <h3>FOR MORE INFORMATION</h3>
      <ul>
        <li>Email Us: info@theecurioustraveller.com</li>
        <li> Contact Form found below this section</li>
        <li> VISA or MasterCard accepted</li>
      </ul>
    </div>
  </section>
  <section class="travel-dates">
      <h3>TRAVEL DATES</h3>
      <p>September 8th to 14th, 2019 (6 nights, 7 days)</p>
  </section>
  <section class="zcontact" id="zcontact">
    <div class="zcontact_one">
      <form action="https://formspree.io/info@theecurioustraveller.com" method="post">
        <h1>CONTACT FORM</h1>
        <input placeholder="Name" type="text"  value="" required>
        <input placeholder="Email address" name="email" type="email" onblur="this.setAttribute('value', this.value);" value="" required>
        <span class="validation-text">Please enter a valid email address.</span>
        <div class="flex">
          <textarea placeholder="Message" name="message" rows="1" required></textarea>
        </div>
        <input class="zcontact_form_button" type="submit" value="Send">
      </form>
    </div>
    <div class="zcontact_two">
      <div class="zcontact_two_card">
        <%= image_tag 'https://images.pexels.com/photos/1142984/pexels-photo-1142984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <h4>BEACH</h4>
      </div>
      <div class="zcontact_two_card">
        <%= image_tag 'https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' %>
        <h4>RELAX</h4>
      </div>
    </div>
    <div class="zcontact_three">
      <div>
        <h4>ACCOMODATION</h4>
        <div class="zcontact_three_text">
          <p>You’ll be staying in a beautiful private boutique hotel located in the heart of Nungwi within walking distance to the beach, restaurants, bars and shops. Nungwi is a fun vibrant area of Zanzibar offering lots of activities and entertainment ensuring you’ll never be bored.
          </p>
<!--           <p><i class="fas fa-thumbtack"></i>12mins walk to Clifton & Camps bay beach</p>
          <p><i class="fas fa-thumbtack"></i>1min walk to Atlantic seaboard</p>
          <p><i class="fas fa-thumbtack"></i>20 mins drive to airport</p>
          <p><i class="fas fa-thumbtack"></i>10mins drive to the City</p>
          <p><i class="fas fa-thumbtack"></i>5min drive to V&A Waterfront</p> -->
          <p  class="zcontact_three_text_consider">
            Your hotel room will be based on two people sharing, if you’re travelling with a friend please let us know so we can allocate you to the same room. All other room allocations will be at random unless specific preferences are stated.
          </p>
          <p  class="zcontact_three_text_consider">
            If you require a private room we can arrange this for you, please note an additional charge will apply for a private room.
          </p>
        </div>
      </div>
    </div>
  </section>
<!--   <section class="zconsider">
    <div class="zconsider_box">
      <h5>PLEASE CONSIDER</h5>
      <p><b>Flexible Itinerary</b></p>
      <p>
        Please note we offer a flexible itinerary should you want to add any extra activities to your time in Cape Town we can assist you with this at no extra cost. However All additional costs of extra activities will be covered by you.
      </p>
      <p><b>Food allergies & Medical conditions</b></p>
      <p>
        Food allergies or special foods should be requested 1 month prior to the booking in order to check availability.Any medical condition that requires attention should be communicated prior to any bookings. Please let us know how can we help.
      </p>
    </div>
  </section> -->
</div>
